.application {
    width: 650px;
    height: 500px;
    border-radius: 9px;
    display: flex;
    overflow: hidden;

    &__sidebar {
        width: 150px;
        background: rgba($base-dark-grey, .95);
    }

    &__content {
        flex-grow: 1;
        background: $base-light-grey;
        padding: 10px 20px 10px 15px;
        overflow-y: scroll;
    }
}

.topbar {
    height: 40px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background: $base-dark-grey;

    &__button {
        width: 10px;
        height: 10px;
        padding: 0;
        margin-right: 10px;
        border: none;
        border-radius: 5px; 

        &--close { background-color: $light-red; }
        &--hide { background-color: $light-yellow; }
        &--expand { background-color: $light-green; }
    }
}
