.application {
    width: 650px;
    height: 500px;
    border-radius: 9px;
    display: flex;
}

.application__sidebar {
    width: 150px;
    background: $base-darkgrey;

    .filters__item {
        color: $white;
    }
}

.application__content {
    flex-grow: 1;
    background: $base-lightgrey;
}