.filters {
    &__item {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 5px 0 15px;
        font-size: 14px;
        text-decoration: none;
        color: $sidebar-text-color;

        &--active, &:hover { 
            background: $active-bg-color;
        }
    }

    &__icon {
        margin-right: 9px;
        width: 16px;
        height: 16px;
    }

    &__text {
        flex-grow: 1;
    }

    &__counter {
        display: inline-block;
        text-align: center;
        width: 32px;
        color: $sidebar-counter-color;
    }
}
