.issues {
    margin-bottom: 10px;

    &__header {
        margin-bottom: 8px;
        font-size: 12px;
        color: $issues-header-color;
    }
}

.issue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid $border-color;
    border-radius: 5px;
    height: 40px;
    padding: 0 11px;
    background: $white;

    &__text {
        overflow: hidden;
        font-size: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $issues-text-color;
    }

    &__checkbox {
        @include accessibility-visually-hidden;

        &:checked ~ .issue__fav {
            fill: $star-btn-color;
            stroke: $star-btn-color;
        }
    }

    &__fav {
        display: flex;
        align-items: center;
        fill: none;
        stroke: $border-color;
        stroke-linecap: square;
        cursor: pointer;
    }
}
