.issues {
    margin-bottom: 10px;

    &__header {
        font-size: 12px;
        color: $issues-header-color;
        margin-bottom: 10px;
    }
}

.issue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;

    &__text {
        font-size: 15px;
        color: $issues-text-color;
    }

    &__checkbox {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;

        &:checked ~ .issue__fav {
            fill: $star-btn-color;
            stroke: none; 
        }
    }

    &__fav {
        cursor: pointer;
        fill: none;
        stroke: $border-color;
    }
}
