$white: #ffffff;
$white-smoke: #f6f6f6;
$zircon: #e0e0e0;
$oslo-gray: #8a8995;
$steel-gray: #292A48;
$cod-gray: #080606;
$vulcan-gray: #101022;
$dark-navy: #21233d;
$carmine: #ff594f;
$pastel-orange: #ffbc1b;
$apple: #00cd46;

//background colors:
$main-bg-color: $white-smoke;
$sidebar-bg-color: $vulcan-gray;
$active-bg-color: $steel-gray;

//text colors:
$sidebar-text-color: $white;
$sidebar-counter-color: $oslo-gray;
$issues-text-color: $cod-gray;
$issues-header-color: $oslo-gray;

// border colors
$border-color: $zircon;

// button colors
$close-btn-color: $carmine;
$hide-btn-color: $pastel-orange;
$expand-btn-color: $apple;
$star-btn-color: $dark-navy;
