//background colors:
$base-lightgrey: #f6f6f6;
$base-darkgrey: #101022;
$grey: #292A28;

//text colors:
$white: #ffffff;

// button colors
$lightred: #ff594f;
$lightyellow: #ffbc1b;
$lightgreen: #00cd46;