//background colors:
$base-light-grey: #f6f6f6;
$base-dark-grey: #101022;
$grey: #292A48;

//text colors:
$white: #ffffff;
$bluegrey: #8a8995;

// button colors
$light-red: #ff594f;
$light-yellow: #ffbc1b;
$light-green: #00cd46;

